.container {
    width: auto;
    margin: auto;
    max-width: 1080px;
}
.navbar {
    padding: 10px;
    margin-bottom: 20px;
}
 h1 {
  font-size: 34px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.0263158em;
    text-align: center;
  }
  img {
    width: 100%;
    height: auto;
  }
  
.animate-fade
{animation:fading 5s infinite}
@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}

#footer {
    background-color: black;
    height: 40px;
    margin-top: 15px;
    text-align: center;
}

#footer:hover {
    background-color:rgb(79, 91, 109);
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    font-family: Lato;
}

a:hover {
    color: black;
}