.container {
    margin:auto;
    max-width: 800px;
}
ul {
    list-style-type: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
li {
    float: right;
    padding: 5px;
    font-size: 15px;
    color: black;
}
#nav {
}

h1 {
  font-family: 'Google Sans',Roboto,sans-serif;
  position: absolute;
  display:inline;
  padding-top:34px;
  font-size: 25px;
  padding-left: 11px;
  color: #3c0030;
    text-shadow: 4px 3px 5px #008080;
}
 
img {
  height: 160px;
  border-radius: 50px;
}
.animate-fade
{animation:fading 3s infinite}
@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
