body {
    background-image: linear-gradient(to right,#232B2B, #F2EFE4);
}
ul {
    list-style-type: none;
    font-family: sans-serif;
}
li {
    float: right;
    padding: 10px;
    font-size: 16px;
    color: black;
}
#nav {
}